{% extends 'blog/navbar.html' %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block extra_head %}
    <link href="../../static/css/annuaire.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    <title>Ethizedo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

{% block content %}
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
    <div class="list">
  {% for types in filter.qs %}
  <div class="col-sm-3 display">
    <div class="thumbnail">
    <a target="_blank" href='{{ types.url }}'>
      <div class="img">
        <img src="{{ types.image }}" alt="{{types.nom}}">
      </div>
        <h3 class="text-center"> {{types.nom}} </h3>
        <p class="apercu">{{ types.contenu }}</p>
      <div class="types2">
      {% for cat in types.types.all %}
        <div class="col-sm-1 types">
          <img src="{{ cat.image }}" alt="{{cat.nom}}">
        </div>
      {% endfor %}
      </div>
    </a>
    </div>
  </div>
{% endfor %}
</div>
  </ul>




{% endblock %}

</body>
</html>