.display{
	vertical-align: top;

}
.thumbnail:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.apercu{
    height:200px;
    text-align: justify ;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%
}

h3{
    padding-top: 5%;
}

.img{
    max-width: 80%;
    height:80px;
    margin: auto;
    position:relative;
    
}

img{
    margin: auto;
    max-width: 80%;
	position: absolute;
    width:auto;
    height: auto;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    padding-top: 40px;
}

div a:hover, a:visited, a:link, a:active {
	text-decoration: none;
    color: black;
}

.types img{
    margin-bottom: 30%;
}

#id_types li{
    display: inline-block ;
    padding-left: 5%;
    font-size: 150%;
    font-weight: 3%;
}